# Ignorar arquivos Python compilados
**/*.pyc
*.pyc
__pycache__/

# Ignorar o ambiente virtual
satere_mawe/  # Substitua pelo nome correto do diretório do seu ambiente virtual

# Ignorar configurações de IDEs e editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project